{:company/legal-name "SSE plc"
 :company/lei "549300KI75VYLLMSK856"
 :company/jurisdiction "GB"
 :company/website "https://www.sse.com"
 :company/ticker "SSE (LSE)"
 :company/inquiry-form-url "https://www.sse.com/contact-us/"}
